<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <!---->
    <title>Auth</title>
    <!---->
    <link rel="stylesheet" href="/static/style/main.css">
    <!-- styles -->
    <style>
    </style>
</head>
<body>
<div class="body">
    <!-- header -->
    <header class="header">
        <h1 class="title">وارد شدن</h1>
    </header>
    <!-- contents -->
    <div class="content" style="max-width: 300px">
        <form class="flex-c auth-form" action="/auth" method="post">
            <label for="password" class="input-label" >رمز ورود:</label>
            <input  id="password" class="input" name="password" type="password">
            <!-- -->
            <button class="button" type="submit" style="margin-top: 10px">بعد</button>
        </form>
    </div>
</div>
</body>
</html>