<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <!---->
    <title>Auth</title>
    <!---->
    <link rel="stylesheet" href="/static/style/main.css">
    <!-- styles -->
    <style>
    </style>
</head>
<body>
<div class="body">
    <!-- header -->
<!--    <header class="header">-->
<!--        <h1 class="title">وارد شدن</h1>-->
<!--    </header>-->
    <!-- contents -->
    <div class="content" style="max-width: 800px; margin-top: 20px">
        <form action="/edit/file?path={{{ file.path }}}" method="post">
            <div class="file-editor ltr">
                <label   for="file-content" class="input-label">{{ file.path }}</label>
                <textarea id="file-content" class="input content" name="content">{{ file.content }}</textarea>
            </div>
            <button class="button" type="submit" style="margin-top: 10px">اعمال</button>
        </form>
    </div>
</div>
</body>
</html>